DOMAIN_NAME=n8n.yourdomain.com

POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=CHANGE_ME

N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=CHANGE_ME
N8N_ENCRYPTION_KEY=GENERATE_ME

TZ=Europe/Paris
GENERIC_TIMEZONE=Europe/Paris
